

<script src="~/js/Common.js"></script>
<script src="~/js/TechnicalReporting.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

    });



    $(".ctrlbtn").click(function (e) {
        
        CommonReportGenerateJS('M1/TECHSCR09B/SendData', {
            dt: $("#txtFromDate").val(),            
             Operation: $(this).attr('data-report-type'),
             ReportType: $("#txtReportType").val(),


        })

        $(".modalLoader").hide();
    })

</script>

<div class="plcholder-cn">
    <form asp-area="M1">
        <div class="plcholder-cn">
            <div class="small-frm">
                <h3 class="sub-heading1"><span>PMIS HO</span></h3>
                <div class="m-form">
                    <div class="m-form-bx">
                        <div class="row ">
                            <div class="col-sm-6 col-md-5">
                                <label class="m-lbl1 m-lbl2">From Date <span style="color:red;">*</span></label>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                @{
                                    var d = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 01);
                                }
                                <input class="form-control" id="txtFromDate" type="date" value="@d.ToString("yyyy-MM-dd")" />
                            </div>
                           
                        </div>
                        <div class="btn-area1">
                            <input type="button" data-report-type="send-data" class="m-btn-1 execute ctrlbtn" value="Send Data">
                           
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<div id="commonModalbinder" class="modal" style="display:none!important;z-index:99999999 !important;"></div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


