
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/js/custom.js"></script>
<script src="~/js/loader.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        localStorage.setItem("currentUrl", "M1/Home/Index");
    });
</script>

<style>
    .admin-dbn h2 {
        text-align: center;
        margin-top: 3%;
        font-size: 33px;
        color: #ea5a4b;
        padding: 0;
        margin-bottom: 0;
    }

    .admin-dbn h3 {
        text-align: center;
        font-size: 50px;
        margin: 0;
        padding: 0;
        color: #43c1ff;
        text-shadow: 2px 2px 3px #1b77a5;
    }

    .sec-img {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .admin-dbn {
        background-image: linear-gradient(to bottom, #ffffff, #ffdfc9);
        height: calc(100vh - 82px) !important;
    }
</style>
<div id="page-wrapper">
    <div class="admin-dbn">
        <h2>Welcome To Module M1</h2>        
        <div class="sec-img"><img src="~/images/admin-security.png" width="100%" /></div>
    </div>
</div>