

<script src="~/js/Common.js"></script>
<script src="~/js/TechnicalReporting.js"></script>
<script>
    $(".ctrlbtn").click(function (e) {

        CommonReportGenerateJS('M1/TECHSCR06/GenerateReport', {
            ReportDate: $("#txtReportDate").val(),
            ReportType: $("#txtReportType").val(),

        })

        $(".modalLoader").hide();
    })
</script>



<div class="plcholder-cn">
    <form asp-area="M1">
        <div class="plcholder-cn">
            <div class="small-frm">
                <h3 class="sub-heading1"><span>Condensate /Tpt /Bags Report</span></h3>
                <div class="m-form">
                    <div class="m-form-bx">
                        <div class="row ">
                            <div class="col-sm-6 col-md-1">
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <label class="m-lbl1 m-lbl2">Report Date <span style="color:red;">*</span></label>
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <input class="form-control" id="txtReportDate" type="date" value="@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")" />
                            </div>

                            <div class="col-sm-6 col-md-2">
                                <label class="m-lbl1 m-lbl2">Report<span style="color:red;">*</span></label>
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <select id="txtReportType" class="form-control">
                                    <option value="N">Bag Repoert</option>
                                    <option value="T">Tpt Report</option>
                                    <option value="C">Condensate Report</option>
                                    <option value="D">Display Report</option>
                                    <option value="J">Persentage Urea Disp Report</option>
                                </select>
                            </div>
                        </div>
                        <div class="btn-area1">
                            <input type="button" data-report-type="1" class="m-btn-1 execute ctrlbtn" value="Execute">
                            <
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>=
</div>



<div id="commonModalbinder" class="modal" style="display:none!important;z-index:99999999 !important;"></div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




